<!DOCTYPE html>
<html>
<head>
	<title>Day One Entries</title>

	<style>
		
		html {
			padding: 100px;
			text-align: center;
			padding-top: 0px
		}

		img {
			height: 500px;
			max-width: 75%;
		}

		#entries {
			padding: 20px;
			background-color: lightgrey;
		}

	</style>
</head>
<body>

	<h1>Day One Entries</h1>

	<div id="entries">
		
		{{ range .Entries }}
			<h3>{{ .Date }}</h3>
			<h3>{{ .Content }}</h3>
			<a href="photos/{{ .Photo }}">
				<img src="photos/{{ .Photo }}">
			</a>

		{{ end }}

		<br><br><br>

	</div>

</body>
</html>